[user]
  email = me@abt.im
  name = Antoine Abt
[github]
  user = Tonio
[color]
  branch = auto
  diff = auto
  status = auto
  interactive = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  lg = log -p

[giggle]
	compact-mode = false
	main-window-maximized = false
	main-window-geometry = 1382x820+1904+136
[core]
	excludesfile = ~/.gitignore
