[user]
  name = Antoine Abt
  email = antoine@abt.im
	signinkey = A7A3E77248CB4240FB8445978C4A276D0FE82986

[color]
  branch = auto
  diff = auto
  status = auto
  interactive = auto

[interactive]
  diffFilter = diff-highlight

[alias]
  st = status
  ts = status
  s = status -sb
  c = commit
  ci = commit
  cp = cherry-pick
  b = branch
  br = branch
  bl = ! sh -c 'git br --sort=-committerdate | head'
  co = checkout
  c- = checkout --
  d = diff --word-diff=color
  ds = diff --stat
  df = diff
  lg = log -p
  f = fetch
  p = add -p
  chicken = pull
  lastweek = log --since="1 week" --oneline
  lol = log --decorate --pretty=oneline --abbrev-commit --all --graph
  oops = commit --amend --no-edit
  addremove = !git add . && git ls-files --deleted | xargs git rm
  fshow = ! sh -c 'git show --pretty="format:" --name-only $1 | grep -v "^$" | uniq | sed -e "s#^#`git rev-parse --show-toplevel`/#"' -
  vim   = ! sh -c 'vim `git fshow $1`' -
  ctags = "!sh -c '[ -f .git/hooks/ctags ] || git init; .git/hooks/ctags' git-ctags"
  mine = log --author=abt
  dc = diff --cached
  fo = fetch origin
  fu = fetch upstream
  lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(blue)%h%C(reset) - %C(green)(%ar)%C(reset) %s%C(reset) %C(magenta)- %an%C(reset)%C(cyan)%d%C(reset)' --all
  tags = tag
  remotes = remote -v
  branches = branch -a
[diff]
  indent-heuristic

[diff "asciidiff"]
  textconv = ~/.bin/img-ascii-diff

[core]
  excludesfile = ~/.global_gitignore

[init]
  templatedir = ~/.dotfiles/.git_template

[pager]
  log = "diff-highlight | less"
  show = "diff-highlight | less"
  diff = "diff-highlight | less"

[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[push]
  default = simple
[rebase]
  autoStash = true
  autosquash = true
[pull]
	ff = only
[advice]
	ignoredHook = false
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
