[user]
    name = Antoine Abt
    email = antoine@abt.im

[color]
    branch = auto
    diff = auto
    status = auto
    interactive = auto

[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    lg = log -p
    lastweek = log --since="1 week" --oneline
    lol = log --decorate --pretty=oneline --abbrev-commit --all --graph
    addremove = !git add . && git ls-files --deleted | xargs git rm
    fshow = ! sh -c 'git show --pretty="format:" --name-only $1 | grep -v "^$" | uniq | sed -e "s#^#`git rev-parse --show-toplevel`/#"' -
    vim   = ! sh -c 'vim `git fshow $1`' -
    vm = ! sh -c 'vim `git ls-files -m`' -
    ctags = "!sh -c '[ -f .git/hooks/ctags ] || git init; .git/hooks/ctags' git-ctags"

[giggle]
    compact-mode = false
    main-window-maximized = false
    main-window-geometry = 1382x820+1904+136

[core]
    excludesfile = ~/.global_gitignore

[init]
    templatedir = ~/.git_template

[merge]
    tool = vimdiff
