body, p, table, th, td, pre {
  font-family : Cochin, Leander;
  font-size   : 18px !important;
  background  : white;
  border      : 0;
}
th {
  display : none;
}
table, body > div > i {
  width  : 40em;
  margin : 0 auto;
}
body > div > i {
  display: block;
}
i {
  font-style : normal;
}
body > i {
  display : block;
}
td > b {
  line-height : 3em;
  color       : #666;
}
a {
  color: darkgreen;
}
}
table:first-of-type {
  font-size: .1em;
}
table:first-of-type:hover {
  font-size: 1em;
}
#timestamp {
  position   : sticky;
  top        : 0px;
  left       : 0px;
  background : white none repeat scroll 0% 0%;
  padding    : 1em;
  z-index    : 100;
}
[valign=TOP],
[valign=TOP] ~ td,
body > div > small,
body > div > table:last-of-type {
  display: none;
}
