img {
  opacity: 0 !important;
  transition: opacity .3s !important;
}
img:hover {
  opacity: 1 !important;
}
a {
  color: #006699 !important;
}
* {
  font-size: 13px !important;
  font-weight: normal !important;
}
#nav-menu-wrapper,
.browse-sidebar {
  display: none;
}
.main-content-with-gutter-wrapper {
  margin-left: 1em !important;
}
