header { display: none; }
.content { margin-top: 0; }
aside { visibility: hidden; }
.full_article .main_content h2,
.full_article .main_content h3 {
    font-family: Leander;
    font-size: 16px;
}
.full_article .main_content h2 span.num_subtitle, .full_article .main_content h3 span.num_subtitle {
    font-size: 1.4rem;
    height: auto;
    width: auto;
    padding: 5px 8px;
}
.full_article .aside_stats span {
    font-size: 1.2em;
}
.full_article .aside_blockquote * {
    font-size: 16px !important;
}
